@charset "utf-8";
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{   
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    background-color: black;
}

.container-body{
    height: auto;
    width: 80%;
    background-color:aliceblue;
    padding: 20px;
    margin: 30px;
    box-shadow: 0px 0px 3px;
}

main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top:400px;
}
.container{
    height: auto;
    width: 30%;
    background-color:aliceblue;
    padding: 20px;
    margin: 30px;
    box-shadow: 0px 0px 3px;
}/* CSS Document */

